<div class="parallax">
  <div id="group1" class="group">
    <div class="layer-base">
      <div class="title">
        <%= image_tag "http://ne.spacegrant.org/uploads/images/Logos/for%20webpage%20images/insigcolor.png" %>
      </div>
    </div>
  </div>
  <div id="group2" class="group">
    <div class="layer-base">
      <div class="title">
        Explore Space!
      </div>
    </div>
    <div class="layer-back">
      <%= image_tag "moon.svg", :class => "star", :style => "top: 25%; left: 75%; width: 100px; opacity: 0.9;" %>
    </div>
    <div class="layer-deep">
      <%= image_tag "star.svg", :class => "star", :style => "width: 7px; top: 30%; left: 60%" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 4px; top: 10%; left: 90%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 5px; top: 83%; left: 62%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 12px; top: 20%; left: 10%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 6px; top: 80%; left: 5%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 13px; top: 95%; left: 80%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 9px; top: 65%; left: 95%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 4px; top: 58%; left: 70%;" %>

      <!-- Orion -->
      <%= image_tag "star.svg", :class => "star", :style => "width: 15px; top: 35%; left: 28%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 12px; top: 41%; left: 47%;" %>

      <%= image_tag "star.svg", :class => "star", :style => "width: 10px; top: 71%; left: 35%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 12px; top: 68%; left: 38%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 11px; top: 65%; left: 41%;" %>

      <%= image_tag "star.svg", :class => "star", :style => "width: 15px; top: 94%; left: 26%;" %>
      <%= image_tag "star.svg", :class => "star", :style => "width: 15px; top: 96%; left: 44%;" %>
    </div>
  </div>
  <div id="group3" class="group">
    <div class="layer-base">
      <div class="title">
        <a href="http://www.nasa.gov" target="_blank"><i class="fa fa-rocket" style="color: #f3f3f3"></i></a>
      </div>
      <div class="title" style="top: auto; bottom: 0px; font-size: 12px;">
        <a href="http://kylo.io" style="color: #999; text-decoration: none">made with <i class="fa fa-heart"></i> by kylo</a>
      </div>
    </div>
  </div>
</div>